doctype
html
  head
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
    
  body(style="padding:30px")
    hr
    h1 the layout
    hr
    .nav(style="float:left;background-color:#EEE; padding:10px;position:-webkit-sticky;position:sticky;top:10px;")
      for doc_info, slug in public._data
        h4: a(href="/docs/#{ slug }")= slug
    .content(style="margin-left:150px")
      != yield
